.main-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
  gap: 20px;
}

.heading {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(63, 62, 62, 0.253);
}

.heading h3 {
  color: rgb(51, 51, 51);
  text-shadow: 5px 5px 10px rgba(14, 2, 66, 0.534);
}


.trend-graph-title {
  margin-bottom: 10px;
}

.trend-graph-contaner {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
}

 .trend-graph {
  width: 450px;
  height: 100%;
  background-color: white;
  padding: 20px;
}

.trend-graph-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
}

.trend-graph-search .search-select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(30, 95, 180);
  padding: 5px;
  outline: none;
  color: white;
  border: none;
}

.fuel-type-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 30px;
  padding: 5px;
}

.fuel-type-input-container .fuel-type {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(126, 176, 241);
  padding: 5px;
  outline: none;
  color: white;
  border: none;
}


.fuel-type-input-container .search-btn {
  background-color: rgb(30, 95, 180);
  color: white;
  width: 80px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.trend-list h5 {
  color: rgb(49, 48, 48);
  margin-bottom: 5px;
}

.station-list {
  width: 90%;
  height: 300px;
  padding: 20px 10px;
  background-color: white;
  overflow-y: auto;
}

.station-list .td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: rgb(30, 95, 180);
  color: white;
  font-size: 13px;
}

.price-table th {
  background-color: rgba(126, 176, 241, 0.425);
  color: black;
}

td {
  font-size: 14px;
  padding: 3px;
}

.list-main-holder {
  position: relative;
  
}

.list-container {
  width: 750px;
  height: 300px;
  padding: 20px 10px;
  background-color: white;
  overflow-y: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-select {
  width: 420px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  z-index: 1;
}

.filter-select select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(5, 97, 218);
  padding: 5px;
  outline: none;
  color: white;
  border: none;
}

.filter-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-input-container .search-btn {
  background-color: rgb(5, 97, 218);
  color: white;
  width: 80px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}